<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Teligoo test task</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


</head>

<body>
<div class="container">

    <div class="h2">Teligoo</div>
    <div class="h3">{{ login }}</div>


    <div class="row">


        <div class="col-md-6">
            <form action="{{ path('teligoo_test_home') }}" method="post">
                {{ form_widget(newUserForm) }}
                <button type="submit">Add user</button>
            </form>
        </div>

        <div class="col-md-6">
            <form action="{{ path('teligoo_test_login') }}" method="post">
                {{ form_widget(loginForm) }}
                <button type="submit">Login</button>
            </form>
        </div>

    </div>




    <br />


</div>

</body>
</html>
